@tailwind base;
@tailwind components;
@tailwind utilities;

svg path {
	fill: var(--color-text);
}

a:hover svg path {
	fill: white;
}

button:hover svg path {
	fill: white;
}

/* Override these for custom colours */
@layer components {
	h1, h2, h3, h4 {
		@apply text-left text-white font-bold;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-base;
	}

	p, label, li, option {
		@apply text-left text-base;
	}

	a.link {
		@apply font-bold underline rounded-sm;
	}

	a.link:hover {
		color: white;
	}

	/* Background gradients */
	.background-1 {
		@apply bg-gradient-to-br from-orange-400 to-pink-500;
	}

	.background-2 {
		@apply bg-gradient-to-b from-sky-500 to-violet-500;
	}

	.background-3 {
		@apply bg-gradient-to-l from-green-400 to-cyan-500;
	}

	.background-4 {
		@apply bg-gradient-to-t from-fuchsia-500 to-purple-600;
	}

	.background-hover-1:hover {
		@apply bg-gradient-to-br from-orange-400 to-pink-500;
	}

	.background-hover-2:hover {
		@apply bg-gradient-to-b from-sky-500 to-violet-500;
	}

	.background-hover-3:hover {
		@apply bg-gradient-to-l from-green-400 to-cyan-500;
	}

	.background-hover-4:hover {
		@apply bg-gradient-to-t from-fuchsia-500 to-purple-600;
	}	
}