@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("../node_modules/@egjs/vue3-flicking/dist/flicking.css");
@import url("../node_modules/@egjs/vue3-flicking/dist/flicking-inline.css");
@import url("../node_modules/@egjs/flicking-plugins/dist/pagination.css");
@import url("../node_modules/flicking-plugins/dist/arrow.css"); */

svg path {
	fill: var(--color-text);
}

a:hover svg path {
	fill: white;
}

button:hover svg path {
	fill: white;
}

/* Override these for custom colours */
@layer components {
	h1, h2, h3, h4 {
		@apply text-left text-white font-bold;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4 {
		@apply text-base;
	}

	p, label, li, option {
		@apply text-left text-base;
	}

	a.link {
		@apply font-bold underline rounded-sm;
	}

	a.link:hover {
		color: white;
	}

	.card-panel {
		@apply rounded-xl shadow-md;
	}

	/* .flicking-panel {
		align-items: flex-end;
		border-radius: 5px;
		box-sizing: border-box;
		display: flex;
		height: 200px;
		justify-content: start;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 30px 20px;
		position: relative;
		width: 50%;
	} */

	/*.flicking-pagination-bullet-active {
		background-color: #f2a65e;
	}

	.profile-media .flicking-viewport {
		@apply pb-6 w-full;
	}

	.card-panel {
		align-items: flex-start;
		display: flex;
		justify-content: flex-end;
		@apply rounded-xl shadow-md;
	}

	.card-panel img {
		@apply rounded-xl;
	}

	.panel {
		@apply w-full aspect-video;
	}

	.flicking-pagination {
		bottom: 10px;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}*/

	/* Background gradients */
	.background-1 {
		@apply bg-gradient-to-br from-orange-400 to-pink-500;
	}

	.background-2 {
		@apply bg-gradient-to-b from-sky-500 to-violet-500;
	}

	.background-3 {
		@apply bg-gradient-to-l from-green-400 to-cyan-500;
	}

	.background-4 {
		@apply bg-gradient-to-t from-fuchsia-500 to-purple-600;
	}

	.background-hover-1:hover {
		@apply bg-gradient-to-br from-orange-400 to-pink-500;
	}

	.background-hover-2:hover {
		@apply bg-gradient-to-b from-sky-500 to-violet-500;
	}

	.background-hover-3:hover {
		@apply bg-gradient-to-l from-green-400 to-cyan-500;
	}

	.background-hover-4:hover {
		@apply bg-gradient-to-t from-fuchsia-500 to-purple-600;
	}	

	.background-pattern-1 {
		background-image: var(--bg-pattern-1);
	}

	.background-pattern-2 {
		background-image: var(--bg-pattern-2);
	}

	.background-pattern-3 {
		background-image: var(--bg-pattern-3);
	}

	.background-pattern-4 {
		background-image: var(--bg-pattern-4);
	}
}